/* .notif-menu{
    border-color:#ffffff;
    padding-left:25px;
}

.notif-menu:hover{
    border-color:#69c0ff;
}

.header-text{
    font-size:1.5em;
}
.iconstyle{
    font-size:20px;
    color:#096dd9;
}
.caretstyle{
    font-size:20px;
    color:#c4c4c4;
}
.head-menu{
    background-color:#ffffff;
    color:#52c41a
}
.head-menu:hover{
    background-color:#ffffff;
    color:#ffffff
}

.head-icon{
   
    color:#092b00
}
.head-icon:hover{
    color:#ffffff
}
 */
